:root {
  --text: rgba(186, 246, 235, 1);
  --grey: rgba(97, 97, 99, 1);
  --footer-color: rgba(20, 20, 20, 0.8);
  --pastel-bg: rgba(249, 249, 255, 1);
  --primaryprimary-100: rgba(182, 179, 198, 1);
  --primaryprimary-200: rgba(146, 143, 171, 1);
  --primaryprimary-300: rgba(96, 92, 132, 1);
  --primaryprimary-400: rgba(65, 60, 109, 1);
  --primarymain: rgba(18, 11, 72, 1);
  --primaryprimary-600: rgba(16, 10, 66, 1);
  --primaryprimary-700: rgba(13, 8, 51, 1);
  --primaryprimary-800: rgba(10, 6, 40, 1);
  --primaryprimary-900: rgba(8, 5, 30, 1);
  --primaryprimary-50: rgba(231, 231, 237, 1);
  --secondarysecondary-50: rgba(230, 243, 243, 1);
  --secondarysecondary-100: rgba(176, 216, 216, 1);
  --secondarysecondary-200: rgba(138, 198, 198, 1);
  --secondarysecondary-300: rgba(84, 171, 171, 1);
  --secondarysecondary-400: rgba(51, 155, 155, 1);
  --secondarymain: rgba(255, 255, 255, 1);
  --secondarysecondary-600: rgba(0, 118, 118, 1);
  --secondarysecondary-700: rgba(0, 92, 92, 1);
  --secondarysecondary-800: rgba(0, 72, 72, 1);
  --secondarysecondary-900: rgba(0, 55, 55, 1);
  --errorerror-50: rgba(255, 235, 239, 1);
  --errorerror-100: rgba(255, 193, 204, 1);
  --errorerror-200: rgba(255, 163, 180, 1);
  --errorerror-300: rgba(255, 122, 146, 1);
  --errorerror-400: rgba(255, 96, 125, 1);
  --errormain: rgba(255, 56, 92, 1);
  --errorerror-600: rgba(232, 51, 84, 1);
  --errorerror-700: rgba(181, 40, 65, 1);
  --errorerror-800: rgba(140, 31, 51, 1);
  --errorerror-900: rgba(107, 24, 39, 1);
  --successsuccess-50: rgba(230, 248, 235, 1);
  --successsuccess-100: rgba(178, 233, 194, 1);
  --successsuccess-200: rgba(141, 222, 164, 1);
  --successsuccess-300: rgba(90, 207, 122, 1);
  --successsuccess-400: rgba(57, 198, 97, 1);
  --successmain: rgba(8, 184, 57, 1);
  --successsuccess-600: rgba(7, 167, 52, 1);
  --successsuccess-700: rgba(6, 131, 40, 1);
  --successsuccess-800: rgba(4, 101, 31, 1);
  --successsuccess-900: rgba(3, 77, 24, 1);
  --footer-style-font-family: "WorkSans-Regular", Helvetica;
  --footer-style-font-weight: 400;
  --footer-style-font-size: 16px;
  --footer-style-letter-spacing: 0px;
  --footer-style-line-height: normal;
  --footer-style-font-style: normal;
  --typography-header-h1-font-family: "Sora-Bold", Helvetica;
  --typography-header-h1-font-weight: 700;
  --typography-header-h1-font-size: 90px;
  --typography-header-h1-letter-spacing: 0px;
  --typography-header-h1-line-height: normal;
  --typography-header-h1-font-style: normal;
  --typography-header-h2-font-family: "Sora-Bold", Helvetica;
  --typography-header-h2-font-weight: 700;
  --typography-header-h2-font-size: 64px;
  --typography-header-h2-letter-spacing: 0px;
  --typography-header-h2-line-height: normal;
  --typography-header-h2-font-style: normal;
  --typography-header-h3-font-family: "Sora-Bold", Helvetica;
  --typography-header-h3-font-weight: 700;
  --typography-header-h3-font-size: 45px;
  --typography-header-h3-letter-spacing: 0px;
  --typography-header-h3-line-height: normal;
  --typography-header-h3-font-style: normal;
  --typography-header-h4-font-family: "Sora-Bold", Helvetica;
  --typography-header-h4-font-weight: 700;
  --typography-header-h4-font-size: 32px;
  --typography-header-h4-letter-spacing: 0px;
  --typography-header-h4-line-height: normal;
  --typography-header-h4-font-style: normal;
  --typography-header-h5-font-family: "Sora-SemiBold", Helvetica;
  --typography-header-h5-font-weight: 600;
  --typography-header-h5-font-size: 24px;
  --typography-header-h5-letter-spacing: 0px;
  --typography-header-h5-line-height: normal;
  --typography-header-h5-font-style: normal;
  --typography-header-h6-font-family: "Sora-Bold", Helvetica;
  --typography-header-h6-font-weight: 700;
  --typography-header-h6-font-size: 16px;
  --typography-header-h6-letter-spacing: 0px;
  --typography-header-h6-line-height: normal;
  --typography-header-h6-font-style: normal;
  --typography-subheader-sh1-font-family: "Sora-SemiBold", Helvetica;
  --typography-subheader-sh1-font-weight: 600;
  --typography-subheader-sh1-font-size: 24px;
  --typography-subheader-sh1-letter-spacing: 0px;
  --typography-subheader-sh1-line-height: normal;
  --typography-subheader-sh1-font-style: normal;
  --typography-subheader-sh2-font-family: "Sora-SemiBold", Helvetica;
  --typography-subheader-sh2-font-weight: 600;
  --typography-subheader-sh2-font-size: 16px;
  --typography-subheader-sh2-letter-spacing: 0px;
  --typography-subheader-sh2-line-height: normal;
  --typography-subheader-sh2-font-style: normal;
  --typography-subheader-sh3-font-family: "Sora-SemiBold", Helvetica;
  --typography-subheader-sh3-font-weight: 600;
  --typography-subheader-sh3-font-size: 12px;
  --typography-subheader-sh3-letter-spacing: 0px;
  --typography-subheader-sh3-line-height: normal;
  --typography-subheader-sh3-font-style: normal;
  --typography-body-b1-font-family: "WorkSans-Regular", Helvetica;
  --typography-body-b1-font-weight: 400;
  --typography-body-b1-font-size: 18px;
  --typography-body-b1-letter-spacing: 0px;
  --typography-body-b1-line-height: normal;
  --typography-body-b1-font-style: normal;
  --typography-body-b2-font-family: "WorkSans-Regular", Helvetica;
  --typography-body-b2-font-weight: 400;
  --typography-body-b2-font-size: 16px;
  --typography-body-b2-letter-spacing: 0px;
  --typography-body-b2-line-height: normal;
  --typography-body-b2-font-style: normal;
  --typography-body-b3-font-family: "WorkSans-Regular", Helvetica;
  --typography-body-b3-font-weight: 400;
  --typography-body-b3-font-size: 14px;
  --typography-body-b3-letter-spacing: 0px;
  --typography-body-b3-line-height: normal;
  --typography-body-b3-font-style: normal;
  --typography-body-b4-font-family: "WorkSans-Regular", Helvetica;
  --typography-body-b4-font-weight: 400;
  --typography-body-b4-font-size: 12px;
  --typography-body-b4-letter-spacing: 0px;
  --typography-body-b4-line-height: normal;
  --typography-body-b4-font-style: normal;
  --typography-button-b1-font-family: "WorkSans-Medium", Helvetica;
  --typography-button-b1-font-weight: 500;
  --typography-button-b1-font-size: 18px;
  --typography-button-b1-letter-spacing: 0px;
  --typography-button-b1-line-height: normal;
  --typography-button-b1-font-style: normal;
  --typography-button-b2-font-family: "WorkSans-Medium", Helvetica;
  --typography-button-b2-font-weight: 500;
  --typography-button-b2-font-size: 16px;
  --typography-button-b2-letter-spacing: 0px;
  --typography-button-b2-line-height: normal;
  --typography-button-b2-font-style: normal;
  --typography-button-b3-font-family: "WorkSans-Medium", Helvetica;
  --typography-button-b3-font-weight: 500;
  --typography-button-b3-font-size: 14px;
  --typography-button-b3-letter-spacing: 0px;
  --typography-button-b3-line-height: normal;
  --typography-button-b3-font-style: normal;
  --typography-button-b4-font-family: "WorkSans-Medium", Helvetica;
  --typography-button-b4-font-weight: 500;
  --typography-button-b4-font-size: 12px;
  --typography-button-b4-letter-spacing: 0px;
  --typography-button-b4-line-height: normal;
  --typography-button-b4-font-style: normal;
  --typography-button-b0-font-family: "WorkSans-Medium", Helvetica;
  --typography-button-b0-font-weight: 500;
  --typography-button-b0-font-size: 20px;
  --typography-button-b0-letter-spacing: 0px;
  --typography-button-b0-line-height: normal;
  --typography-button-b0-font-style: normal;
  --typography-subtitle-s1-font-family: "WorkSans-Regular", Helvetica;
  --typography-subtitle-s1-font-weight: 400;
  --typography-subtitle-s1-font-size: 16px;
  --typography-subtitle-s1-letter-spacing: 0px;
  --typography-subtitle-s1-line-height: 151.30000114440918%;
  --typography-subtitle-s1-font-style: normal;
  --typography-subtitle-s2-font-family: "WorkSans-Regular", Helvetica;
  --typography-subtitle-s2-font-weight: 400;
  --typography-subtitle-s2-font-size: 12px;
  --typography-subtitle-s2-letter-spacing: 0px;
  --typography-subtitle-s2-line-height: normal;
  --typography-subtitle-s2-font-style: normal;
  --typography-subtitle-s3-font-family: "WorkSans-Regular", Helvetica;
  --typography-subtitle-s3-font-weight: 400;
  --typography-subtitle-s3-font-size: 10px;
  --typography-subtitle-s3-letter-spacing: 0px;
  --typography-subtitle-s3-line-height: normal;
  --typography-subtitle-s3-font-style: normal;
  --shadow: 0px 4px 40px 0px rgba(64, 64, 64, 0.1);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  --collection-1-inner-radius: 12px;
  --collection-1-outer-radius: 24px;
}
